body {/* Keeps the background flush with window */
    margin: 0; 
    padding: 0; 
    overflow: hidden;}
.htp{
display: flex;
flex-wrap: wrap;
width: 100vw;     /* 100% of the viewport width */
    height: 100vh;    /* 100% of the viewport height */
      
background-color:purple;
}
.instruction{
    
width: 70%;
height: 20%;

}
.pic{
   
    width: 30%;
    height: 30%;
    

}
.but{
    width: 100%;
height: 9%;
text-align: center;
}
p{
color:black;
font-size: 30px;

font-family: "Your Bubbly Font", sans-serif;

}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #333333;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.button:hover {
    background-color: #333333;
    color: #ffffff;
    border-color: #ffffff;
}